@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center titleTop">
    <h2>FrameWorkTV Education</h2>

</div>

<div class="container author text-center">
    <span>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-github-alt"></i>
        <i class="fab fa-linkedin-in"></i>
    </span> <br />
    <img src="https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/116876247_3262424397148214_4764864462871226871_n.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_ohc=USyXd8v2KL0AX_gVENK&_nc_ht=scontent-dfw5-2.xx&oh=6681823b69c74399d21f4f6708827eb3&oe=5F65A107" width="70%" alt="Alternate Text" />
    <label>
        <strong>Web Author:</strong> Stephen Brooks - <a href="https://www.developing4life.com">Visit my profile.</a>
    </label>
</div>

<div class="container" style="margin-top:60px; justify-content:center; text-align:center;">
    <hr />
    <p>
        <em>
            'For people who want a container for their stacks and put it in an organized way that builds. So many
            changes that can be done that there's literally no limit to your developer imagintaion.'
        </em>
    </p>
    <div class="row links-wrapper">
        <div class="col-md text-center nav-link" style="margin-top:60px;">
            <a href="#">
                <p>Front End Designs</p>
                <i class="fas fa-code"></i>
            </a>
        </div>
        <div class="col-md text-center nav-link" style="margin-top:60px;">
            <a href="#">
                <p>Frameworks Flexibility</p>
                <i class="fas fa-code-branch"></i>
            </a>
        </div>
        <div class="col-md text-center nav-link" style="margin-top:60px;">
            <a href="#">
                <p>Back End Technologies</p>
                <i class="fas fa-database"></i>
            </a>
        </div>
    </div>
</div>

<!---->
<div class="jumbotron section-1 text-center" style="margin-top:60px;">
    <p style="margin-top: 40px; color:teal;">Learning to Code is a journey</p>
</div>

<!---->
<div class="jumbotron section-2">
    <p style="margin-top: 140px;">Learning to Code is a journey</p>
</div>

<!---->
<div class="jumbotron section-3">
    <p style="margin-top: 140px;">Learning to Code is a journey</p>
</div>

<!---->
<div class="jumbotron section-4">
    <p style="margin-top: 140px;">Learning to Code is a journey</p>
</div>