@{
    ViewData["Title"] = "Home Page";
}

    <center>
        <div class="text-center titleTop">
            <h2>FrameWorkTV Education</h2>
            <em>-- html5, css3, scss, javascript, c#, bootstrap, react, sql, azure asp.Net --</em>
        </div>

        <div class="notes">
            <h1>User Plots</h1>
            <ul>
                <li>
                    <a href="#">Account</a>
                </li>
                <li>
                    <a href="#">Contribute</a>
                </li>
                <li>
                    <a href="#">Learning</a>
                </li>
                <li>
                    <a href="#">Playground</a>
                </li>
            </ul>
        </div>

        <div class="container author text-center">
            <span>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-github-alt"></i>
                <i class="fab fa-linkedin-in"></i>
            </span> <br />
            <img src="https://www.bing.com/th?id=OIP.VUtxxuo_PCHRNL_NqkMwWgHaHa&w=86&h=91&c=8&rs=1&qlt=90&dpr=1.25&pid=3.1&rm=2" width="70%" alt="Alternate Text" />
            <label>
                <strong>Web Author:</strong> John Doe - <a href="https://www.developing4life.com">Visit my profile.</a>
            </label>
        </div>

        <!--About Section-->
        <div class="jumbotron text-center" style="background-color:white;">
            <p>
                <h1>Are You New To Us?</h1>
                <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="About">About US</a>
            </p>
        </div>

        <aside>
            <h1>User Plots</h1>
            <ul>
                <li>
                    <a href="#">Account</a>
                </li>
                <li>
                    <a href="#">Contribute</a>
                </li>
                <li>
                    <a href="#">Learning</a>
                </li>
                <li>
                    <a href="#">Playground</a>
                </li>
            </ul>
        </aside>
    </center>

<center>
    <div class="container" style="margin-top:60px; justify-content:center; text-align:center;">
        <hr />
        <p>
            <em>
                'For people who want a container for their stacks and put it in an organized way that builds. So many
                changes that can be done that there's literally no limit to your developer imagintaion.'
            </em>
        </p>
        <em class="text-center" style="margin-bottom:60px;">Hover over topice below to see css and jquery effects</em> <br /> <br />
        <div class="row links-wrapper">

            <div class="col-md text-center nav-link" style="margin-top:60px;">
                <a href="#">
                    <p>Front End Designs</p>
                    <i class="fas fa-code"></i>
                </a>
            </div>
            <div class="col-md text-center nav-link" style="margin-top:60px;">
                <a href="#">
                    <p>Frameworks Flexibility</p>
                    <i class="fas fa-code-branch"></i>
                </a>
            </div>
            <div class="col-md text-center nav-link" style="margin-top:60px;">
                <a href="#">
                    <p>Back End Technologies</p>
                    <i class="fas fa-database"></i>
                </a>
            </div>
        </div>
    </div>
</center>

<!--everyone can code image-->
<div class="jumbotron section-1 text-center"></div>

<!--Special Features-->
<center>
    <article itemprop="articleSection" itemscope>
        <p class="text-center display-4">Special Features</p>
        <div class="container" style="margin-top:40px;">
            <div class="row">
                <div class="col-md text-center" style="margin-top:10px;">
                    <div class="box-1">
                        <p>User Authentications</p>
                        <i class="fas fa-user-secret"></i>
                    </div>
                </div>
                <div class="col-md text-center" style="margin-top:10px;">
                    <div class="box-2">
                        <p>Styling Pages</p>
                        <i class="fab fa-css3"></i>
                    </div>
                </div>
                <div class="col-md text-center" style="margin-top:10px;">
                    <div class="box-3">
                        <p>User Packages</p>
                        <i class="fab fa-node"></i>
                    </div>
                </div>
                <div class="col-md text-center" style="margin-top:10px;">
                    <div class="box-4">
                        <p>Code Branches</p>
                        <i class="fas fa-code-branch"></i>
                    </div>
                </div>
            </div>
        </div>
    </article>
</center>

<!--headlines-->
<center>
    <article>
        <div class="container">
            <div class="row links-wrapper">

                <div class="col-md text-center nav-link" style="margin-top:60px;">
                    <a href="#">
                        Upcoming Courses
                    </a>
                </div>
                <div class="col-md text-center nav-link" style="margin-top:60px;">
                    <a href="#">
                        Previous Courses
                    </a>
                </div>
                <div class="col-md text-center nav-link" style="margin-top:60px;">
                    <a href="#">
                        Current Courses
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div>

            </div>
        </div>
    </article>
</center>


<div class="jumbotron section-2"></div>

