@{
    ViewData["Title"] = "Projects";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Projects</h1>
</div>


<div class="container" style="margin-top:110px;">
    <div class="row">
        <div class="col-md-3 text-center">
            <label>Restaurant</label>
            <a href="https://dev-food-tv.netlify.app/" target="blank">
                <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" width="90%" alt="Alternate Text" />
              
            </a>
        </div>
        <div class="col-md-3 text-center">
            <label>Profile</label>
            <a href="https://www.developing4life.com" target="blank">
                <img src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" width="90%" alt="Alternate Text" />
                
            </a>
        </div>
        <div class="col-md-3 text-center">
            <label>DayCare</label>
            <a href="#">
                <img src="https://images.unsplash.com/photo-1567746455504-cb3213f8f5b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" width="90%" alt="Alternate Text" />
                
            </a>
        </div>
        <div class="col-md-3 text-center">
            <label>ToyStore</label>
            <a href="#">
                <img src="https://images.unsplash.com/photo-1572509804952-3ead0d86b0ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" width="90%" alt="Alternate Text" />
            </a>
        </div>
    </div>
</div>
